##Data Types and Structures

**1**.**What are data structures, and why are they important** ?

Data structures are ways of organizing and storing data so that operations like retrieval, insertion, and deletion can be performed efficiently.
They are important because they help manage and process large amounts of data effectively and optimize performance in applications.

**Example:** Arrays, Lists, Stacks, Queues, Trees, Graphs, etc.

2.**Explain the difference between mutable and immutable data types with examples**

- **Mutable data types:** Can be changed after creation. Example: **list**
```python
my_list = [1, 2, 3]
my_list[0] = 10
print(my_list)  # [10, 2, 3]
```
- **Immutable data types:** Cannot be changed after creation. Example: **string**
```python
my_str = "Hello"
# my_str[0] = 'h'  # ‚ùå Error
new_str = "h" + my_str[1:]
print(new_str)  # hello
```

**3**.**What are the main differences between lists and tuples in Python** ?

1. **Lists** are mutable; **Tuples** are immutable.  
2. Lists use square brackets `[ ]`; Tuples use parentheses `( )`.  
3. Lists are slower in performance compared to tuples due to mutability.  

**Example:**
```python
my_list = [1, 2, 3]
my_tuple = (1, 2, 3)
```

**4**.**Describe how dictionaries store data**

Dictionaries store data in **key-value pairs** using a hash table internally. Keys must be unique and immutable, while values can be any type.

**Example:**
```python
student = {"name": "Alice", "age": 20}
print(student["name"])  # Alice
```

**5**.**Why might you use a set instead of a list in Python**

- Sets do not allow duplicate values.  
- They provide faster membership tests (`in` operator).  

**Example:**
```python
nums = [1, 2, 2, 3]
unique_nums = set(nums)
print(unique_nums)  # {1, 2, 3}
```

6.**What is a string in Python, and how is it different from a list**

A string is a sequence of characters enclosed in quotes.  
- **String:** Immutable.  
- **List:** Mutable and can hold different data types.  

**Example:**
```python
s = "hello"
l = ['h', 'e', 'l', 'l', 'o']
```

7.**How do tuples ensure data integrity in Python**

Since tuples are **immutable**, once created, their values cannot be changed. This prevents accidental modification, ensuring data integrity.

**Example:**
```python
coords = (10.0, 20.0)  # cannot be altered
```

8.**What is a hash table, and how does it relate to dictionaries in Python**

A **hash table** is a data structure that stores key-value pairs using a hash function to compute an index for each key.  
Python **dictionaries** are implemented using hash tables internally.

9.**Can lists contain different data types in Python**

Yes, lists can store elements of different data types.

**Example:**
```python
mixed_list = [1, "hello", 3.14, True]
```

10.**Explain why strings are immutable in Python**



Strings are immutable because modifying them would require changing memory allocation.  

This design ensures efficiency and safety when sharing strings across multiple references.

11.**What advantages do dictionaries offer over lists for certain tasks**


- Dictionaries allow **fast lookups** by key (O(1) on average).  

- Lists require searching element by index or scanning (O(n)).  




**Example:** Storing student records by ID is easier with a dictionary than with a list.

12 . **Describe a scenario where using a tuple would be preferable over a list**



When data should not change throughout the program, tuples are better.  

**Example:** Storing coordinates of a location `(latitude, longitude)`.

13.**How do sets handle duplicate values in Python**

Sets **automatically remove duplicates**.

**Example:**
```python
s = {1, 2, 2, 3}
print(s)  # {1, 2, 3}
```

14.**How does the 'in' keyword work differently for lists and dictionaries**

- For **lists**, `in` checks if the element exists in the list.  
- For **dictionaries**, `in` checks only for **keys**, not values.  

**Example:**
```python
my_list = [1, 2, 3]
print(2 in my_list)  # True

my_dict = {"a": 1, "b": 2}
print("a" in my_dict)  # True
print(1 in my_dict)    # False
```

15.**Can you modify the elements of a tuple? Explain why or why not**

No, tuples are **immutable**. Elements cannot be changed after creation.

No, you cannot modify the elements of a tuple because tuples are immutable in Python.
This means once a tuple is created, its elements cannot be changed, added, or removed.

 Why not?

Tuples are designed to be fixed collections of items.

Their immutability makes them hashable (if they contain only immutable elements), which allows them to be used as keys in dictionaries and as elements in sets.

This property also ensures data integrity when you don‚Äôt want accidental modifications.

 Example (Immutable):

t = (1, 2, 3)
t[0] = 10  
 Error: 'tuple' object does not support item assignment

print(t)  # (1, 2, 3)

16.**What is a nested dictionary, and give an example of its use case**
A nested dictionary is a dictionary that contains another dictionary (or multiple dictionaries) as its values.
It allows you to represent hierarchical or structured data in Python.

‚úÖ Example (Nested Dictionary):

students = {
    "Alice": {"age": 20, "grade": "A"},

              "Bob": {"age": 22, "grade": "B"},

              "Charlie": {"age": 21, "grade": "A"}
}

# Accessing nested values
print(students["Alice"]["age"])    # 20

print(students["Bob"]["grade"])    # B


üìå Use case:

Representing student records (as above).

Storing JSON-like data (API responses).

Organizing configuration files (e.g., database settings for different environments).

‚úÖ Real-world example (configuration settings):

config = {
    "database": {"host": "localhost", "port": 3306},
    "api": {"endpoint": "https://api.example.com", "timeout": 30}
}

print(config["database"]["host"])   # localhost
```

17.**Describe the time complexity of accessing elements in a dictionary**



In Python, dictionaries are implemented using hash tables.
This allows elements to be accessed directly using their keys.

Average Case:
The time complexity of accessing an element in a dictionary is O(1).
This is because the key is passed through a hash function, and its location in memory can be found in constant time.

Worst Case:
In rare cases of hash collisions, the time complexity can degrade to O(n), where n is the number of elements in the dictionary. However, Python uses efficient hashing techniques to minimize collisions, so the average case is most relevant in practice.

Example:

students = {"Alice": 20, "Bob": 22, "Charlie": 21}

print(students["Alice"])   # Access in O(1)

18.**In what situations are lists preferred over dictionaries**

- When the order of elements matters.  
- When indexing elements by position is needed.  
- When storing simple sequences of data.

19.**Why are dictionaries considered unordered, and how does that affect data retrieval**

Dictionaries in Python are considered unordered collections because they store data as key‚Äìvalue pairs based on the key‚Äôs hash value, not in the order in which items are added.
The placement of elements is determined by the hash function, which decides where in memory the key‚Äìvalue pair will be stored.

Before Python 3.7: Dictionaries did not preserve insertion order. This meant the order of elements during retrieval could be unpredictable.

From Python 3.7 onwards: Dictionaries preserve insertion order, but conceptually they are still treated as unordered mappings because access is always by key, not by position.

Effect on Data Retrieval:

You cannot retrieve items by index like in lists.

Retrieval must always be done using the key, regardless of when the item was added.

20.**Explain the difference between a list and a dictionary in terms of data retrieval.**

- **List:** Accessed by index (position).  
- **Dictionary:** Accessed by key.  

**Example:**
```python
my_list = [10, 20, 30]
print(my_list[1])  # 20

my_dict = {"a": 10, "b": 20}
print(my_dict["b"])  # 20
```

#**Practical Questions**

**1. Write a code to create a string with your name and print it**

In [2]:
name = "Prashant"
print(name)

Prashant

**2. Write a code to find the length of the string 'Hello World'**

In [3]:
s = "Hello World"
print(len(s))

11

**3. Write a code to slice the first 3 characters from the string 'Python Programming'**

In [4]:
s = "Python Programming"
print(s[:3])

Pyt

**4. Write a code to convert the string 'hello' to uppercase**

In [5]:
s = "hello"
print(s.upper())

HELLO

**5. Write a code to replace the word 'apple' with 'orange' in the string 'I like apple'**

In [6]:
s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

**6. Write a code to create a list with numbers 1 to 5 and print it**

In [7]:
lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

**7. Write a code to append the number 10 to the list [1, 2, 3, 4]**

In [8]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

**8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]**

In [9]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

**9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']**

In [10]:
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

**10. Write a code to reverse the list [10, 20, 30, 40, 50]**

In [11]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

**11. Write a code to create a tuple with the elements 100, 200, 300 and print it**

In [12]:
t = (100, 200, 300)
print(t)

(100, 200, 300)

**12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')**

In [14]:
t = ('red', 'green', 'blue', 'yellow')
print(t[-2])

blue

**13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)**

In [15]:
t = (10, 20, 5, 15)
print(min(t))

5

**14. Write a code to find the index of the element 'cat' in the tuple ('dog', 'cat', 'rabbit')**

In [16]:
t = ('dog', 'cat', 'rabbit')
print(t.index('cat'))

1

**15. Write a code to create a tuple containing three different fruits and check if 'kiwi' is in it**

In [17]:
fruits = ('apple', 'banana', 'cherry')
print('kiwi' in fruits)

False

**16. Write a code to create a set with the elements 'a', 'b', 'c' and print it**

In [18]:
s = {'a', 'b', 'c'}
print(s)

{'a', 'b', 'c'}

**17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}**

In [19]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

**18. Write a code to remove the element 4 from the set {1, 2, 3, 4}**

In [20]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

**19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}**

In [21]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

**20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}**

In [22]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1.intersection(s2))

{2, 3}

**21. Write a code to create a dictionary with the keys 'name', 'age', and 'city', and print it**

In [23]:
d = {'name': 'Alice', 'age': 25, 'city': 'Paris'}
print(d)

{'name': 'Alice', 'age': 25, 'city': 'Paris'}

**22. Write a code to add a new key-value pair 'country': 'USA' to the dictionary {'name': 'John', 'age': 25}**

In [24]:
d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

**23. Write a code to access the value associated with the key 'name' in the dictionary {'name': 'Alice', 'age': 30}**

In [ ]:
d = {'name': 'Alice', 'age': 30}
print(d['name'])

**24. Write a code to remove the key 'age' from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}**

In [25]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')
print(d)

{'name': 'Bob', 'city': 'New York'}

**25. Write a code to check if the key 'city' exists in the dictionary {'name': 'Alice', 'city': 'Paris'}**

In [26]:
d = {'name': 'Alice', 'city': 'Paris'}
print('city' in d)

True

**26. Write a code to create a list, a tuple, and a dictionary, and print them all**

In [27]:
lst = [1, 2, 3]
t = (4, 5, 6)
d = {'a': 1, 'b': 2}
print(lst, t, d)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

**27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result**

In [28]:
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[47, 54, 68, 86, 89]

**28. Write a code to create a list with strings and print the element at the third index**

In [29]:
lst = ['apple', 'banana', 'cherry', 'date']
print(lst[3])

date

**29. Write a code to combine two dictionaries into one and print the result**

In [30]:
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

**30. Write a code to convert a list of strings into a set**

In [1]:
lst = ['apple', 'banana', 'cherry', 'apple']
print(set(lst))

{'banana', 'apple', 'cherry'}